#outerContainer, #fileList {
    border: 1px solid black;
    margin: 25px;
    padding: 25px;
    width: 877px;
}

#outerContainer #coverArt {
    float: left;
    margin-right: 15px;
    background: lightgray;
    border: 1px solid lightgray;
}

#fileContainer {
    margin-bottom: 10px;
    margin-top: 5px;
}

#controlsContainer {
    width: 100px;
    float: left;
}

#progressOuterCountainer {
    margin-top: 2px;
    width: 500px;
    float: left;
}

#progressOuterCountainer #currentTime {
    width: 50px;
    float: left;
    text-align: center;
}

#progressOuterCountainer #progressBar {
    margin-top: -2px;
    width: 395px;
    float: left;
}

#progressOuterCountainer #songLength {
    width: 50px;
    float: left;
    text-align: center;
}

#volumeOuterContainer {
    margin-left: 15px;
    width: 175px;
    float: left;
    margin-top: -3px;
}

#volumeOuterContainer i {
    top: -5px;
    position: relative;
    margin-right: 10px;
}

.clearfix {
    clear: both;
}

#queued, #list {
    width: 100%;
    border-collapse: collapse;
}

#queued tr th, #list tr th {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    padding: 5px;
    background: black;
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}

#queued tr td, #list tr td {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    padding: 5px;
}

#queued tr:last-child td, #list tr:last-child td {
    border-bottom: none;
}

#queued a, #list a {
    text-decoration: none;
    color: black;
}