@import '../colors';

.album-table {
  display: flex;
  flex-wrap: wrap;

  &.mobile-only {
    display: none;
  }

  > .album {
    width: 175px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: $background-light-gray;

    img {
      width: 175px;
      height: 175px;
    }

    .text {
      padding: 10px;
      padding-top: 5px;

      .album {
        display: block;
        margin-bottom: 3px;
        color: $color-light-gray;
        font-size: 14px;
        text-decoration: none;
      }

      .songs {
        color: $color-gray;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }
}
