@import '../colors';
@import '../mixins/custom-scrollbar';

.content {
    display: flex;
    flex-grow: 1;
    color: $color-light-gray;
    overflow: hidden;

    > div {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .actual-page-content {
        @include custom-scrollbar($background-light-gray);
        padding: 25px;
        overflow-y: auto;
    }

    a {
        color: $color-brand;
    }

    h2 {
        margin: 0 0 25px;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    h3 {
        margin: 0 0 15px;
        color: $color-gray;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1px;

        &.white {
            color: $color-light-gray;
        }
    }

    .page-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 960px;
        padding: 25px 25px 0;

        h2 {
            flex: 1;
            margin-bottom: 0;
        }

        .play-all i {
            margin-right: 5px;
        }
    }

    @import 'song-table';
    @import 'album-table';
    @import 'input';
    @import 'horizontal-navigation';

    &.queue {
        flex-grow: 0;
        flex-shrink: 0;
        width: 580px;
        margin-left: 20px;
        background: $background-gray;

        @media (max-width: 1600px) {
            display: none;
        }
    }

    p {
        max-width: 400px;
        margin-bottom: 25px;
        color: $color-gray;
        font-size: 14px;
    }

    @import 'pages/albums';
    @import 'pages/artists';
    @import 'pages/manage-servers';
    @import 'pages/search';
}
