@import '../colors';
@import '../mixins/custom-scrollbar';

input[type='text'], input[type='url'], textarea, select {
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid $background-light-gray;
  border-radius: 5px;
  background: $background-dark-gray;
  color: $color-light-gray;

  &::-webkit-input-placeholder {
    color: $color-dark-gray;
  }

  &:focus {
    border: 1px solid $color-brand;
    outline: none;
  }
}

textarea {
  @include custom-scrollbar($background-light-gray);
  resize: none;
}

select {
  height: 33px;
  padding: 6px 25px 6px 10px;
  background: $background-dark-gray url('../assets/dropdown.png') no-repeat 90% -1px;
  font-size: 14px;
  -webkit-appearance: none;

  &:disabled {
    background: $background-dark-gray;
  }
}

.copyable-input {
  position: relative;
  max-width: 500px;

  input {
    width: 100% !important;
    padding-right: 45px;
    box-sizing: border-box;
  }

  input:focus + a {
    border-color: $color-brand;
  }

  a {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    border: 1px solid $background-light-gray;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $background-gray;
    color: $color-light-gray;
    box-sizing: border-box;

    i {
      position: relative;
      top: -1px;
    }
  }

  .notification {
    position: absolute;
    top: 4px;
    right: 47px;
    padding: 3px 10px 4px;
    border: 1px solid $background-gray;
    border-radius: 2px;
    background: $background-gray;
    color: $color-gray;
    font-size: 13px;
    text-align: center;

    &::after {
      position: absolute;
      top: 5px;
      right: -10px;
      width: 0;
      height: 0;
      border-width: 6px 0 6px 10.4px;
      border-style: solid;
      border-color: transparent transparent transparent $background-gray;
      content: '';
    }
  }
}

input[type='submit'], input[type='button'], button, .fake-file-input {
  display: inline-block;
  padding: 6px 15px;
  border: 1px solid $color-brand;
  border-radius: 5px;
  outline: none;
  background: transparent;
  color: $color-brand;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;

  &.margin-right {
    margin-right: 15px;
  }

  &:hover {
    background: $color-brand;
    color: $background-dark-gray;
  }

}

.fake-file-input input {
  position: absolute;
  top: -10000000px;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
  filter: alpha(opacity=0);
}

.pretty-form {
  width: 100%;
  max-width: 600px;
  margin-bottom: 15px;
  font-size: 15px;

  > div {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid $background-gray;

    > div {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &.no-border {
      margin-bottom: 0;
      border-bottom: 0;
    }

    label {
      align-self: flex-start;
      width: 150px;
      padding-top: 3px;
      color: $color-light-gray;
      font-size: 12px;
      text-transform: uppercase;
    }

    input:not([type='button']):not([type='submit']), textarea {
      flex: 1;
    }

    input[type='button'], input[type='submit'] {
      margin-top: 10px;
    }

    textarea {
      flex: 1;
      min-height: 100px;
    }

  }

}
