@import '../colors';

.popover {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba($background-dark-gray, .95);
  text-align: center;
  z-index: 1000;

  h3 {
    padding-bottom: 20px;
  }

  button:not(:first-child) {
    margin-left: 15px;
  }

  svg {
    width: 500px;
    max-width: 90%;
    height: auto !important;
    background-color: #fff;
  }

  video {
    max-width: 90%;
    height: auto !important;
    margin: auto;
    margin-bottom: 10px;

    @media screen and (max-width: 1024px) {
      max-height: 300px;
    }
  }
}
