@import '../colors';

.navigation {
    display: none;
}

.content {
    .actual-page-content {
        padding: 0 5px 20px 15px;
        overflow-y: auto;
    }

    .page-heading {
        display: none;
    }

    @import 'components/horizontal-navigation';
    @import 'components/song-table';
}

@import 'components/player';
