@import '../colors';

.navigation {
    width: 100%;
    flex-direction: column;
    background-color: transparent;

    .close-navigation {
        flex-shrink: 0;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: $color-gray;
        text-transform: uppercase;
        background: $background-gray;
        font-size: 13px;

        i {
            font-size: 18px;
            margin-right: 7px;
        }
    }

    .search {
        margin-bottom: 10px;

        input {
            width: 82%;
        }
    }

    .navigation-links {
        .heading {
            margin-top: 15px;
        }
        ul li a {
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }

    .current-song {
        display: none;
    }
}

.player {
    display: none;
}

.content {
    display: none;
}