// Brand
$color-brand: #123123 !default;

// Text colors
$color-gray: #123123 !default;
$color-light-gray: #123123 !default;
$color-dark-gray: #123123 !default;

// Background colors
$background-gray: #123123 !default;
$background-light-gray: #123123 !default;
$background-dark-gray: #123123 !default;

