@import 'vendor/normalize';
@import 'vendor/google-fonts';
@import 'vendor/font-awesome';
@import 'vendor/flaticon';
@import 'colors';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: .03em;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $background-dark-gray;
  cursor: default;
  overflow: hidden;
  -webkit-user-select: none;

  a {
    cursor: pointer;
  }

  .top-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-height: 100%;
  }

  .mobile-only, .mobile-top-bar {
    display: none;
  }

  .cover-art {
    background: $background-dark-gray url('../assets/loading-cover.png');
    background-size: contain;
  }

  @import 'components/popover';
  @import 'components/navigation';
  @import 'components/content';
  @import 'components/player';
}

@import 'mobile/index';
@import 'components/dropzone';
