// Brand color
$color-brand: #93bd44;

// Text colors
$color-gray: #919191;
$color-light-gray: #f1f2f3;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #2b3234;
$background-gray: #272e30;
$background-dark-gray: #22282a;

@import 'layout';
