// Brand color
$color-brand: #ff5ccd;

// Text colors
$color-gray: #705c6a;
$color-light-gray: #222;
$color-dark-gray: #a695a1;

// Background colors
$background-light-gray: #ffe0f6;
$background-gray: #ffd7f4;
$background-dark-gray: #ffeaf9;

@import 'layout';
