// Brand color
$color-brand: #e9b036;

// Text colors
$color-gray: #666;
$color-light-gray: #111;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #fcf3df;
$background-gray: #fbefd3;
$background-dark-gray: #fdf7ec;

@import 'layout';
