// Brand color
$color-brand: #b8760f;

// Text colors
$color-gray: #555;
$color-light-gray: #111;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #f3e4d2;
$background-gray: #f1dec8;
$background-dark-gray: #f9f1e8;

@import 'layout';
