// Brand color
$color-brand: #fc3a51;

// Text colors
$color-gray: #555;
$color-light-gray: #0e2430;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #e8d5b9;
$background-gray: #ebcea4;
$background-dark-gray: #f1dec0;

@import 'layout';
