// Brand color
$color-brand: #fd971f;

// Text colors
$color-gray: #9b9783;
$color-light-gray: #f8f8f2;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #363731;
$background-gray: #2f302a;
$background-dark-gray: #272822;

@import 'layout';
