// Brand color
$color-brand: #108d16;

// Text colors
$color-gray: #454;
$color-light-gray: #111;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #cbe7cc;
$background-gray: #bfe1bf;
$background-dark-gray: #e0f0e0;

@import 'layout';
