// Brand color
$color-brand: #1881fc;

// Text colors
$color-gray: #555;
$color-light-gray: #000;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #ececec;
$background-gray: #e2e2e2;
$background-dark-gray: #fff;

@import 'layout';
