// Brand color
$color-brand: #b4d168;

// Text colors
$color-gray: #888;
$color-light-gray: #1c140d;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #f2e9e1;
$background-gray: #e9e0d8;
$background-dark-gray: #fafafa;

@import 'layout';
