// Brand color
$color-brand: #ff127e;

// Text colors
$color-gray: #1e701c;
$color-light-gray: #000;
$color-dark-gray: #999;

// Background colors
$background-light-gray: #8dff80;
$background-gray: #67fe57;
$background-dark-gray: #b4ffac;

@import 'layout';
