// Brand
$color-brand: #f09046;

// Text colors
$color-gray: #aaa;
$color-light-gray: #fff;
$color-dark-gray: #767676;

// Background colors
$background-gray: #232323;
$background-light-gray: #2b2b2b;
$background-dark-gray: #181818;

@import 'layout';
