// Brand color
$color-brand: #fe4365;

// Text colors
$color-gray: #666;
$color-light-gray: #111;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #c8c8a9;
$background-gray: #93ada1;
$background-dark-gray: #f9cdad;

@import 'layout';
