// Brand color
$color-brand: #fa6900;

// Text colors
$color-gray: #4c4f66;
$color-light-gray: #111;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #b8d9d7;
$background-gray: #b5e7f0;
$background-dark-gray: #e0e4cc;

@import 'layout';
