// Brand color
$color-brand: #5d5df3;

// Text colors
$color-gray: #666;
$color-light-gray: #222;
$color-dark-gray: #aaa;

// Background colors
$background-light-gray: #e5e5ff;
$background-gray: #dedeff;
$background-dark-gray: #efefff;

@import 'layout';
