// Brand color
$color-brand: #f0342d;

// Text colors
$color-gray: #555;
$color-light-gray: #000;
$color-dark-gray: #777;

// Background colors
$background-gray: #d7d7d7;
$background-light-gray: #e1e1e1;
$background-dark-gray: #eee;

@import 'layout';
