@import '../../colors';

.album-table {

  > .album {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid $background-gray;
    background: transparent;

    > a {
      display: flex;
      flex: 1;
      align-items: center;
      text-decoration: none;
    }

    img {
      flex-shrink: 0;
      width: 45px;
      height: 45px;
    }

    .text {
      padding: 0 0 0 10px;

      .artist:hover {
        text-decoration: none;
      }

      .album {
        margin: 0;
      }
    }
  }

  &.artist-detail {
    display: flex;

    a {
      color: $color-light-gray;
      text-decoration: none;
    }

    > .album {
      margin-bottom: 0;
      padding-top: 7px;
      padding-bottom: 7px;
      border-bottom: 0;

      .padder {
        margin: 0 5px;
      }
    }
  }

}

.artist-album {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}
