@import '../../colors';

.horizontal-navigation {
  top: 5px;
  align-items: center;
  justify-content: center;
  margin: 0 15px 15px;
  border-bottom-color: $background-light-gray;
  font-size: 14px;

  a {
    margin-right: 20px;
    padding: 0 0 7px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
