@import '../../colors';

.horizontal-navigation {
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0 15px 15px;
    top: 5px;
    border-bottom-color: $background-light-gray;

    a {
        padding: 0 0 7px;
        margin-right: 20px;
        text-align: center;

        &:last-child {
            margin-right: 0;
        }
    }
}