@import '../../colors';

.song-table {
    tr:first-child {
        display: none
    }

    td, th {
        padding: 10px 0;
    }

    tr:not(:first-child):hover {
        background: transparent;
    }

    .title .desktop {
        display: none;
    }

    .title .mobile {
        display: block;
    }

    .title .mobile > span {
        display: block;
        position: relative;
        top: -10px;
        margin-bottom: -20px;
        padding: 10px 0;

        small {
            display: block;
            color: $color-gray;
            margin-top: 2px;
        }
    }

    .number, .play-button, .artist, .album, .creation-date, .song-time {
        display: none;
    }

    .add-button, .favorite-button, .availability {
        padding: 10px 5px;
    }

    .play-button, .add-button, .favorite-button {
        a {
            visibility: visible;
        }
    }
}