.album-header {
    display: flex;
    margin-bottom: 40px;

    img {
        width: 175px;
        height: 175px;
    }

    h2 {
        margin-bottom: 15px;
    }

    h3 {
        font-size: 18px;
    }

    > div {
        margin-top: 10px;
        margin-left: 25px;
    }

    .padder {
        margin: 0 5px;
    }
}
